.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#card_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#column1_1 {
    margin: 0 -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#column1_2 {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Rubik;
    font-size: 5rem;
    font-weight: 500;
    color: white;
    line-height: 5.5rem;
    text-align: center;
    text-shadow: 0px 0px 0.5rem #8b7e8454;
    margin-bottom: -0.25rem;
}
.head-img {
    box-shadow: 0px 2px 5px #53515886;
    border-radius: 1rem;
    width: 7.5rem;
    margin: 1rem 1.5rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-primary {
    line-height: 2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 100!important;
    font-family: Rubik;
    background-color: #686b9c;
    border:none !important;
    outline:none !important;
    text-align: center;
    padding: 0 1rem;
    margin: 0.5rem 0.5rem;
}
.buttons a, .buttons button {
    max-height: 2rem!important;
    flex-grow: 1;
}
.more {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}
a {
    text-decoration: none!important;
    outline: none!important;
}
.btn-primary:hover{
    background-color: #e7b5c3;
    text-decoration: none!important;
}
.btn-primary:focus{
    background-color: #FFC2D3!important;
    border: none!important;
    outline: none!important;
}
.card-title {
    font-family: Rubik;
    color: #f8faff;
}
.card {
    text-align: center;
    padding: 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30rem;
    height: auto;
    backdrop-filter: blur(4px); 
    background-color: #e9e7ff60;
    border-radius: 0.75rem;
    border: none;
    /* box-shadow: 0px 3px 3px #8e9aa356; */
}
.proj_card {
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: center;
}
.proj_p {
    text-align: center;
    font-size: 1rem;
    margin: 0 1rem;
}
.card_current {
    margin: 2rem 1rem 1rem !important;
    width: 42rem; 
}
p {
    text-align: left;
    font-size: 12px;
    color: #605b75;
}
h4 {
    font-weight: 700!important;
    color: #626080!important;
    /* #6C757D */
    text-shadow: 0px 1px 0.1rem #a7a7a773;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    
    padding-top: 1px;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* background-image: url("assets/Stripanglify-11.1s-1084px.svg"); */
    background-image: linear-gradient(-115deg, #a993cc, #91b3e0);
    /* background-color: #CED9E4; */
}  
/*  #acb6ff52, #fd98ca62, #d3a66646 */
@font-face {
    font-family: "Rubik";
    src: url("assets/Rubik-VariableFont_wght.ttf");
}
@media only screen and (max-width: 767px) {
    #card_row {
        flex-wrap: wrap;
    }
    .card_current {
        width: 100%;
    }
    .card {
        width: 100%;
    }
    #iq {
        width: 25%!important;
    }
}
@media only screen and (max-width: 600px) {
    #row {
        flex-wrap: wrap;
    }
    .title {font-size: 4rem;}
}