.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#card_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#column1_1 {
    margin: 0 -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#column1_2 {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Rubik;
    font-size: 5rem;
    color: white;
    text-shadow: 0px 0px 0.5rem #8b7e8454;
}
.head-img {
    box-shadow: 0px 2px 5px #796a70;
    border-radius: 2rem;
    width: 60%;
    opacity: 0.85;
}
.btn-primary {
    line-height: 2rem;
    border-radius: 100px;
    font-size: 1rem;
    font-family: Rubik;
    background-color: #FFC2D3;
    border:none !important;
    outline:none !important;
    box-shadow: 1px 1px 3px #ce91a9;
    text-align: center;
    padding: 0 1rem;
}
a {
    text-decoration: none!important;
    outline: none!important;
}
.btn-primary:hover{
    background-color: #e7b5c3;
    text-decoration: none!important;
}
.btn-primary:focus{
    background-color: #FFC2D3!important;
    border: none!important;
    outline: none!important;
}
.buttons a {
    margin: 0 0.5rem;
}
.card-title {
    font-family: Rubik;
    color: #dd97ab;
}
.card_current {
    margin: 3rem 1rem 2rem !important;
    width: 25rem !important; 
}
.card {
    text-align: center;
    padding: 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 20rem;
    height: fit-content;
    backdrop-filter: blur(4px); 
    background-color: rgba(255, 239, 251, 0.384);
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 2px 6px #c7b4bb65;
}
p {
    text-align: left;
    font-size: 12px;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    padding-top: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(50deg, #FFC2D3, #c2fbffa1);
}  
/* #acb6ff52, #fd98ca62, #ffc87c5b */
@font-face {
    font-family: "Rubik";
    src: url("assets/Rubik-VariableFont_wght.ttf");
}
@media only screen and (max-width: 767px) {
    #card_row {
        flex-wrap: wrap;
    }
    .card_current {
        width: 100%;
    }
    .card {
        width: 100%;
    }
    html, body {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    #row {
        flex-wrap: wrap;
    }
}